[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kgekit = {editable = true,path = "."}
protobuf = "*"
numpy = "*"
superminhash = "*"
bidict = "*"

[dev-packages]
pytest = "*"
numpy = "*"
yapf = "*"

[requires]
python_version = "3.7"
